<h1>Gerar QrCode</h1>
<hr>
<div class="row">
    <div class="col-6">
        <sectiom id="form">
            <form method="post">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="texto">Texto/Link</label>
                        <input type="text" class="form-control" name="texto" id="texto">
                    </div>
                    <div class="col-6 mt-2">
                        <label for="tamanho">Tamanho</label>
                        <select name="tamanho" id="tamanho" class="form-control">
                            <option value="100">100px</option>
                            <option value="150">150px</option>
                            <option value="200">200px</option>
                            <option value="300">300px</option>
                        </select>
                    </div>
                    <div class="col-6 mt-2">
<!--                        <label for="qualidade">Qualidade</label>-->
<!--                        <select name="qualidade" id="qualidade" class="form-control">-->
<!--                            <option value="L">Low</option>-->
<!--                            <option value="M">Medium</option>-->
<!--                            <option value="Q">High</option>-->
<!--                        </select>-->
                    </div>
                    <div class="col-2 mt-3">
                        <button type="submit" class="btn btn-outline-success form-control" name="enviar" id="enviar">
                            Enviar
                        </button>
                    </div>
                    <div class="col-2 mt-3">
                        <button type="submit" class="btn btn-outline-danger form-control" name="clean" id="clean" value="true">
                            limpar
                        </button>
                    </div>
                </div>
            </form>
        </sectiom>
    </div>
    <div class="col-6">
        <section>
            {{urlqr}}
        </section>
    </div>

</div>


