<div class="d-flex justify-content-center">
    <div class="card mt-3 text-dark text-center" style="width: 400px">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            {{status}}
            <form action="" method="post">
                <div class="form-droup">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="email@teste.com" required autofocus>
                </div>
                <div class="form-droup my-3">
                    <label for="">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="********" required>
                </div>
                <button type="submit" class="btn btn-danger">Entrar</button>
            </form>
        </div>
    </div>
</div>